/* GENERAL */
html,
body {
  font-family: Raleway;
  padding: 0 50px;
  width: fit-content;
  max-width: 1440px;
  margin: auto;
}

a {
  color: black;
}

h1 {
  font-family: Raleway;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-family: Raleway;
  font-size: 22px;
  font-weight: bolder;
  margin-block-start: 0;
  margin-block-end: 8px;
}

h3 {
  font-family: Raleway;
  font-size: 18px;
}

i {
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

h3, p, ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* NAVIGATION */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 0;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo img {
  height: 45px;
  padding-top: 8px;
  padding-left: 3px;
}

.ancres {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 5px 0px 5px 0px;
}

nav a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: auto;
}

nav span {
  padding: 0 35px 0 35px;
  text-align: center;
}

a strong {
  font-weight: bold;
  color: #0065fc;
}

nav span:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 39px;
  animation-name: animation-nav;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes animation-nav {
  from {border-top: 0px solid #0065fc}
  to { border-top: 3px solid #0065fc}
}

/* Barre de recherche */

#titre-recherche h2 p {
  padding: none;
}

#blocrecherche {
  padding-left: 5px;
}

form {
display: flex;
flex-direction: row;
width: 400px;
height: 42px;
margin-top: 20px;
margin-bottom: 12px;
}

#barre-recherche {
  display: flex;
  flex-direction: row;
}

#champ-recherche {
  border: 1px solid #f2f2f2;
  font-family: Raleway;
  font-weight: bold;
  padding-left: 15px;
  font-size: 16px;
}

#map {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px 0 0 10px;
  background-color: #f2f2f2;
  width: 48px;
  height: 44px;
  color: black;
  font-size: 18px;
}

input {
  width: 240px;
  height: 46px;
  font-weight: bold;
}

#bouton {
  font-family: Raleway;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: #0065fc;
  height: 46px;
  width: 140px;
  border: none;
  border-radius: 0 10px 10px 0 ;
}

#search {
  display: none;
}

/* Filtres */

#Titre-filtre {
display: flex;
align-items: center;
padding-right: 16px;
}

#liens {
  display: flex;
  justify-content: flex-start;
  padding: 24px 20px 0 8px;
}

#liens li {
  list-style-type: none;
  width: auto;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  height: 44px;
  margin-left: 20px;
  padding: 0 5px 0 0;
}

#liens ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

#liens i {
  margin-right: 12px;
}

#liens a {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  margin-right: 12px;
  text-decoration: none;
}

#billet {
display: flex;
background-color: #deebff;
width: 44px;
height: 44px;
border-radius: 20px;
font-size: 18px;
}

#liens ul li:hover {
  background-color: #0065fc1e;
  border: 1px solid #0065fc;
  animation-name: animation-liens;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes animation-liens {
  from {background-color: #6e819c00;border: 1px solid #f2f2f2}
  to {background-color: #0065fc1e;border: 1px solid #0065fc;}
}

#enfant {
  display: flex;
  background-color: #deebff;
  width: 44px;
  height: 44px;
  border-radius: 20px;
  font-size: 18px;
}

#coeur {
  display: flex;
  background-color: #deebff;
  width: 44px;
  height: 44px;
  border-radius: 20px;
  font-size: 18px;
}

#chien {
  display: flex;
  background-color: #deebff;
  width: 44px;
  height: 44px;
  border-radius: 20px;
  font-size: 18px;
}

#phrase-info {
  display: flex;
  flex-direction: row;
  padding: 30px 20px 30px 6px;
  align-items: center;
}

#info {
  display: flex;
  border: solid 1.5px #f2f2f2;
  border-radius: 20px;
  padding: 12px;
  margin-right: 12px;
  font-size: 14px;
  height: 1px;
  width: 1px;
}


/* Sections hébergements */

.main {
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

#blochebergement-populaire {
  display: flex;
  justify-content: space-evenly;
}
  
#titre-hebergement {
  padding-left: 62px;
  margin-top: 40px;
}

#hebergements {
background-color: #f2f2f2;
border-radius: 20px;
width: 65.6%;
}

article{
  display: flex;
  flex-direction: column;
}

article img {
  object-fit: cover;
}

#encarts a{
text-decoration: none;
color: black;
}

#hebergements strong{
  font-weight: bold;
}

#encarts {
  display: flex;
  flex-wrap: wrap;
  padding: 4px 25px 0 26px;
}

#encarts figure {
  width: 244px;
  height: 195px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #bebebe;
}

.carte{
  margin: 15px;
}

#illus {
width: 238px;
height: 112px;
border: 3px solid white;
border-radius: 20px 20px 0 0;
}

#legend {
  width: 228px;
  height: 70px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding-left: 10px;
  padding-top: 2px;
  margin-top: -4px;
  background-color: white;
  font-size: 14px;
  line-height: 22px;
}

#legend strong {
  color: black;
  font-size: 16px;
}

#legend span i {
  font-size: 12px;
}

#fig i {
  letter-spacing: -3px;
}

#star-grey {
  color: #f2f2f2;
}



aside {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 40px 0 0 40px;
  width: 28.5%;
  float: right;
}

aside img {
  object-fit: cover;
}

#lespopulaires a{
  text-decoration: none;
  color: black;
}

#entete_populaires {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 20px;
}

#entete_populaires figure {
  width: 424px;
  height: 110px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #7a7d7f;
}

#fig2 {
  display: flex;
  flex-direction: row;
}

#graph {
  display: flex;
  justify-content: space-between;
}

#graph i {
  color: black;
  padding-right: 30px;
}

#illus2 {
width: 126px;
height: 134px;
border: 5px solid white;
border-radius: 20px 0 0 20px;
}

#legend2 {
  width: 150px;
  height: 124px;
  border: 3px solid white;
  border-radius: 0 20px 20px 0 ;
  color: black;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 42px;
  background-color: white;
  font-size: 14px;
  line-height: 22px;
}

#legend2 strong {
  color: black;
  font-size: 14px;
}

#legend2 span i {
  font-size: 12px;
}

#fig2 i {
  padding-top: 16px;
  letter-spacing: -3px;
}
  
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75%;
  }
  
  