/* GENERAL */
body {
  font-family: Raleway;
  padding: 0 50px;
  width: fit-content;
  max-width: 1440px;
  margin: auto;
}

a {
  color: black;
}

h1,
h3,
h4 {
  font-family: Raleway;
  font-size: 1.395em;
  font-weight: bolder;
  margin-block-start: 0;
  margin-block-end: 8px;
}

h2 {
  font-family: Raleway;
  font-size: 18px;
}

i {
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

strong i {
  color: #f2f2f2;
}

h3,
p,
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

/* NAVIGATION */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 36px 0;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#logo img {
  height: 45px;
  padding-top: 8px;
  padding-left: 3px;
}

.ancres {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 12px 0;
}

nav span {
  padding: 0 31px 0 31px;
  text-align: center;
}

nav a {
  color: black;
  text-decoration: none;
  text-align: center;
  width: auto;
}

a strong {
  font-weight: bold;
  color: #0065fc;
}

nav a:hover {
  color: #0065fc;
}

nav span:hover {
  border-top: 3px solid #0065fc;
  padding-top: 46px;
  animation-name: animation-nav;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes animation-nav {
  from {
    border-top: 0px solid #0065fc;
  }
  to {
    border-top: 3px solid #0065fc;
  }
}

/* CTA RECHERCHE */
#blocrecherche {
  padding-left: 5px;
  padding-top: 1px;
}

#titre-recherche h2 p {
  padding: 0;
}

#barre-recherche {
  display: flex;
  flex-direction: row;
}

form {
  display: flex;
  flex-direction: row;
  width: 420px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 12px;
}

#map {
  display: flex;
  border: 2px solid #f2f2f2;
  border-radius: 15px 0 0 15px;
  background-color: #f2f2f2;
  width: 52px;
  height: 46px;
  color: black;
  font-size: 18px;
}

#search {
  display: none;
}

input {
  width: 260px;
  height: 50px;
  font-weight: bold;
}

#champ-recherche {
  border: 1px solid #f2f2f2;
  font-family: Raleway;
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
}

#bouton {
  font-family: Raleway;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background-color: #0065fc;
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 0 15px 15px 0;
}

/* FILTRES */
#liens {
  display: flex;
  justify-content: flex-start;
  padding: 27px 20px 0 12px;
}

#Titre-filtre {
  display: flex;
  align-items: center;
  padding-right: 16px;
  font-size: 18px;
}

#liens ul {
  display: flex;
  justify-content: center;
  padding-inline-start: 0;
}

#liens li {
  list-style-type: none;
  width: auto;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  height: 48px;
  margin-left: 20px;
  padding: 0 5px 0 0;
}

#liens ul li:hover {
  background-color: #0065fc1e;
  border: 2px solid #0065fc;
  animation-name: animation-liens;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes animation-liens {
  from {
    background-color: #6e819c00;
    border: 2px solid #f2f2f2;
  }
  to {
    background-color: #0065fc1e;
    border: 2px solid #0065fc;
  }
}

#liens a {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  align-items: center;
  margin-right: 17px;
  text-decoration: none;
  font-size: 18px;
}

#liens i {
  margin-right: 14px;
}

#billet {
  display: flex;
  background-color: #deebff;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  font-size: 20px;
}

#enfant {
  display: flex;
  background-color: #deebff;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  font-size: 20px;
}

#coeur {
  display: flex;
  background-color: #deebff;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  font-size: 20px;
}

#chien {
  display: flex;
  background-color: #deebff;
  width: 48px;
  height: 48px;
  border-radius: 25px;
  font-size: 20px;
}

#phrase-info {
  display: flex;
  flex-direction: row;
  padding: 34px 20px 18px 8px;
  align-items: center;
}

#info {
  display: flex;
  border: solid 1.5px #f2f2f2;
  border-radius: 20px;
  padding: 10px;
  margin-right: 12px;
  font-size: 12px;
  height: 1px;
  width: 1px;
}

/* GRILLES */

#main {
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}

aside {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 40px 0 0 40px;
  width: 28.5%;
  float: right;
}

aside img {
  object-fit: cover;
}

#graph {
  display: flex;
  justify-content: space-between;
}

#graph i {
  color: black;
  padding-right: 36px;
  font-size: 24px;
}

/* POPUPLAIRES */

#entete-populaires {
  flex-direction: column;
  margin-bottom: -6px;
  margin-top: 10px;
}

.carte {
  margin: 15px;
}

#lespopulaires a {
  text-decoration: none;
  color: black;
}

#entete-populaires figure {
  width: 340px;
  height: 144px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 2px 12px #c7c7c7;
  margin-bottom: 22px;
}

.fig2 {
  display: flex;
  flex-direction: row;
  margin-top: -10px;
}

.fig2 i {
  padding-top: 16px;
  letter-spacing: -3px;
}

.illus2 {
  width: 126px;
  height: 134px;
  border: 5px solid white;
  border-radius: 20px 0 0 20px;
}

.legend2 {
  width: 150px;
  height: 124px;
  border: 3px solid white;
  border-radius: 0 20px 20px 0;
  color: black;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 42px;
  background-color: white;
  font-size: 14px;
  line-height: 22px;
}

.legend2 strong {
  color: black;
  font-size: 16px;
}

.legend2 span i {
  font-size: 12px;
  padding-top: 34px;
}

/* HÉBERGEMENTS */

article {
  display: flex;
  flex-direction: column;
}

article img {
  object-fit: cover;
}

#hebergements {
  background-color: #f2f2f2;
  border-radius: 20px;
  width: 65.6%;
}

#titre-hebergement {
  padding-left: 40px;
  margin-top: 41px;
}

#hebergements strong {
  font-weight: bold;
}

#encarts {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 25px 0 26px;
}
#encarts a {
  text-decoration: none;
  color: black;
}
#encarts figure {
  width: 244px;
  height: 195px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 2px 12px #c7c7c7;
}

.fig i {
  letter-spacing: -3px;
}

.illus {
  width: 236px;
  height: 112px;
  border: 4px solid white;
  border-radius: 20px 20px 0 0;
}

.legend {
  width: 226px;
  height: 70px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding-left: 12px;
  padding-top: 2px;
  margin-top: -4px;
  background-color: white;
  font-size: 13.5px;
  line-height: 21px;
  letter-spacing: 0.2px;
}

.legend strong {
  color: black;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.legend span i {
  font-size: 12px;
}

#plus_bouton {
  text-decoration: none;
  padding: 25px 0 50px 45px;
}

#plus_bouton strong {
  color: black;
  font-size: 18px;
}

/* ACTIVITÉS */

#activites {
  margin-top: -2px;
}

#activites h5 {
  font-size: 1.35em;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

#encart-activite {
  display: flex;
  margin-bottom: 60px;
}

#activites a {
  text-decoration: none;
}

#encart-activite .carte {
  margin-left: 0px;
}

.fig3 {
  width: 300px;
  height: 446px;
  border-radius: 20px;
  box-shadow: 1px 2px 12px #c7c7c7;
  margin-right: 30px;
}

.illus3 {
  height: 390px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

.legend3 {
  width: 282px;
  height: 38px;
  border-radius: 0 0 20px 20px;
  padding-left: 18px;
  padding-top: 14px;
  background-color: white;
  font-size: 14px;
  line-height: 21px;
}

.legend3 strong {
  color: black;
  font-size: 16px;
}

.column {
  flex-shrink: 1;
  height: 428px;
  padding-top: 14px;
}

.column .fig4 {
  margin-bottom: 40px;
}

.fig4 {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 20px;
  box-shadow: 1px 2px 12px #c7c7c7;
  margin-right: 50px;
}

#illus4 {
  height: 180px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

.legend4 {
  width: 282px;
  height: 40px;
  border-radius: 0 0 20px 20px;
  padding-left: 18px;
  padding-top: 14px;
  background-color: white;
  font-size: 14px;
  line-height: 21px;
}

.legend4 strong {
  color: black;
  font-size: 16px;
}

#illus5 {
  height: 100px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

#illus6 {
  height: 140px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

#illus7 {
  height: 140px;
  width: 100%;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  object-position: center;
}

/** BAS DE PAGE **/

footer {
  height: 200px;
  background-color: #f2f2f2;
  margin-left: -50px;
}

#basdepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 71%;
  padding-left: 50px;
}

#basdepage a {
  text-decoration: none;
}

.column2 {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}

.column2 strong {
  padding-bottom: 14px;
  font-size: 18px;
}

.column2 a {
  line-height: 32px;
}

#column3 {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  margin-left: -32px;
}

#column3 strong {
  padding-bottom: 14px;
  font-size: 18px;
}

#column3 a {
  line-height: 32px;
}

/* VERSION MOBILE */

@media all and (max-width: 667px) {
  body {
    width: auto;
    margin: 0;
    padding: 0;
  }

  /* NAVIGATION */

  header {
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  #logo {
    margin: 20px 20px 0 20px;
  }

  .ancres {
 display: block;
  }

  nav span #lien_inscription {
    width: 150px;
  }

  #liens_mobiles {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
  }

 #lien_hebergements {
    margin-left: 25%;
    margin-right: 25%;
  }

  #lien_activites {
    margin-left: 25%;
    margin-right: 25%;
  }

  #lien_inscription {
    position: absolute;
    top: 40px;
    right: 20px;
    margin: 0;
    padding: 0;
  }

  nav span {
    width: 50%;
    padding: 0;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    justify-content: space-between;
  }

  nav span:hover {
    padding-top: 0;
    border-bottom: 3px solid #f2f2f2;
    border-top: 0;
    padding-bottom: 10px;
    animation-name: animation-liens;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }

  @keyframes animation-liens {
    from {
      background-color: #6e819c00;
      border-bottom: 3px solid #f2f2f2;
    }
    to {
      background-color: #0065fc1e;
      border-bottom: 3px solid #0065fc;
    }
  }

  /* CTA RECHERCHE */

  #blocrecherche {
    margin: 0;
    padding: 0;
  }

  #barre-recherche {
    margin: 0;
    margin-left: 18px;
  }

  #titre-recherche {
    padding-top: 16px;
    margin-left: 20px;
    width: 80%;
  }

  #champ-recherche {
    width: 70%;
  }

  #bouton {
    width: 50px;
    border-radius: 15px;
    margin-left: -20px;
  }

  #search {
    display: block;
    color: white;
  }

  #texte_rechercher {
    display: none;
  }

  /* FILTRES */

  #Titre-filtre {
    position: absolute;
  }

  #liens {
    padding: 0;
    margin-left: 20px;
    margin-top: 24px;
  }

  #liens ul {
    justify-content: left;
    flex-wrap: wrap;
    padding-top: 40px;
  }

  #liens li {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 20px;
  }
  #liens a {
    font-size: 16px;
    margin-right: 8px;
  }

  #liens i {
    font-size: 14px;
    margin-right: 10px;
  }
  #phrase-info {
    padding-left: 20px;
    padding-top: 20px;
  }

  /* GRILLES */

  #main {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
  }

  /* POPULAIRES */

  aside {
    padding: 0;
  }

  #lespopulaires {
    width: 100%;
    border-radius: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #graph {
    margin: 40px 0 0 20px;
  }

  #graph i {
    margin: 0 20px 0 0;
    padding: 0;
  }

  #entete-populaires {
    margin: 0;
    margin-left: 20px;
    padding: 0;
  }

  #entete-populaires figure {
    margin: 0;
    width: 94%;
  }

  #entete-populaires img {
    margin: 0;
    width: 24%;
  }

  #entete-populaires figcaption {
    margin: 0;
    width: 76%;
  }

  /* HÉBERGEMENTS */

  #hebergements {
    width: 100%;
    background-color: transparent;
    margin: 0;
  }

  #titre-hebergement {
    padding-left: 18px;
    margin-top: 34px;
  }

  #encarts {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #encarts .carte {
    width: 100%;
  }

  #encarts figure {
    margin: 0;
    width: 100%
  }

  .illus {
    width: 98.5%;
  }

  .legend {
    height: 0;
  }

  #plus_bouton {
    padding: 20px 0 20px 20px;
  }

  /* ACTIVITÉS */

  #encart-activite {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin-bottom: 60px;
    margin-left: 8px;
  }

  #encart-activite .carte {
    margin-left: 15px;
  }

  #activites h5 {
    margin-left: 16px;
  }

  .fig3 {
    height: 30%;
    width: 95%;
  }

  .column {
    height: 0%;
    padding-top: 0;
    margin-bottom: -20px;
  }

  .column .fig4 {
    height: 30%;
    margin-left: 15px;
    width: 89%;
    margin-bottom: 0;
    margin-right: 0px;
  }

  .illus3 {
    height: 120px;
    object-position: top;
  }

  #illus4 {
    height: 120px;
    object-position: center;
  }

  #illus5 {
    height: 120px;
    object-position: top;
  }

  #illus6 {
    height: 120px;
    object-position: top;
  }

  #illus7 {
    height: 120px;
    object-position: center;
  }

  /* BAS DE PAGE */

  footer {
    height: auto;
    width: 100%
    margin: 0;
  }

  #basdepage {
    width: fit-content;
    flex-direction: column;
    height: 480px;
    justify-content: start;
    padding-top: 20px;
    margin-left: 30px;
  }

  #column3 {
    margin-left: 0;
  }
}

/* VERISON TABLETTE */

@media all and ( min-width : 668px ) and (max-width : 1044px ){
  body {
    margin: 0;
    padding: 0;
  }

  /* NAVIGATION */

  header {
    flex-direction: row;
    margin: 0;
    width: 100%;
  }

  #logo {
    margin: 20px 20px 0 20px;
  }

  nav {
    display: flex;
  }

  nav span:hover {
    border-top: 3px solid #0065fc;
    padding-top: 40px;
    animation-name: animation-nav;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
  }

  @keyframes animation-nav {
    from {
      border-top: 0px solid #0065fc;
    }
    to {
      border-top: 3px solid #0065fc;
    }
  }

  .ancres {
    align-content: flex-end;
    align-items: flex-end;
  }

  /* CTA RECHERCHE */

  #blocpage {
    margin-left: 20px;
  }

  #blocrecherche {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }

  #titre-recherche {
    padding-top: 16px;
    margin-left: 20px;
    width: 80%;
  }

  #barre-recherche {
    margin: 0;
    margin-left: 18px;
  }

  #champ-recherche {
    width: 70%;
  }

  #bouton {
    width: 50px;
    border-radius: 15px;
    margin-left: -20px;
  }

  #search {
    display: block;
    color: white;
  }

  #texte_rechercher {
    display: none;
  }

  /* FILTRES */

  #liens {
    padding: 0;
    margin-left: 40px;
    margin-top: 24px;
  }

  #liens ul {
    justify-content: left;
    flex-wrap: wrap;
    align-content: center;
  }

  #liens a {
    font-size: 16px;
    margin-right: 8px;
  }

  #liens i {
    font-size: 14px;
    margin-right: 10px;
  }

  #phrase-info {
    padding-left: 20px;
    padding-top: 20px;
  }

  /* GRILLES */

  #main {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: fit-content;
  }

  /* POPULAIRES */

  aside {
    padding: 0;
    float: none;
   padding-top: 1px;
  padding-bottom: 1px;
  }

  #lespopulaires {
    border-radius: 0;
    width: 100%;
  }

  #graph {
    margin: 40px 0 0 60px;
    width: 88%;
  }

  #graph i {
    margin: 0 20px 0 0;
    padding: 0;
  }

  #entete-populaires {
    display: flex;
    padding: 0;
    margin-left: 40px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    width: 90%;
  }

  #entete-populaires .fig2 {
    margin: 0;
    width: 99%;
  }

  #entete-populaires strong {
    font-size: 14px;
  }

  #entete-populaires .legend2 {
    font-size: 12px;
    line-height: 18px;
    padding-right: 0;
  }

  #entete-populaires .illus2 {
    width: 100px;
  }

  /* HÉBERGEMENTS */

  #titre-hebergement {
    padding-left: 18px;
    margin-top: 34px;
    padding-left: 60px;
  }

  #hebergements {
    width: 100%;
    background-color: transparent;
  }

  #encarts {
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  #encarts figure {
    margin: 0;
    width: 278px;
  }

  .illus {
    width: 97.5%;
  }

  .legend {
    height: 0;
  }

  #plus_bouton {
    padding: 20px 0 20px 40px;
  }

  /* ACTIVITÉS */

  #encart-activite {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
    margin-left: -5px;
  }

  #activites h5 {
    margin-left: 60px;
  }

  .fig3 {
    height: 90%;
    margin-left: 18px;
    width: 280px;
    margin-right: 0px;
  }

  .legend3 {
    width: 260px;
  }

  .legend4 {
    width: 260px;
  }

  .column {
    display: flex;
    flex-direction: row;
    height: 0%;
    padding-top: 0;
    margin-bottom: -20px;
  }

  .column .fig4 {
    display: flex;
    height: 83%;
    margin-left: 18px;
    width: 280px;
    margin-right: 0px;
  }

  .illus3 {
    height: 120px;
    object-position: top;
  }

  #illus4 {
    height: 120px;
    object-position: center;
  }

  #illus5 {
    height: 120px;
    object-position: top;
  }

  #illus6 {
    height: 120px;
    object-position: top;
  }

  #illus7 {
    height: 120px;
    object-position: center;
  }

  /* BAS DE PAGE */

  footer {
    height: auto;
    width: 100%;
    margin: 0;
  }

  #basdepage {
    flex-direction: row;
    justify-content: space-between;
    height: 280px;
    padding-top: 20px;
    padding-left: 60px;
  }

  #column3 {
    margin-left: 0;
  }
}
